<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLEX MART</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/home.css">

</head>

<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><img
                    src="https://th.bing.com/th/id/OIP.k-rmZkQ6MkGsODaMF6zqsAHaHa?pid=ImgDet&rs=1"
                    height="100" width="100"></div>
            <input type="radio" name="slider" id="menu-btn">
            <input type="radio" name="slider" id="close-btn">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="#">Home</a></li>
                <li><a href="#motto">About</a></li>
                <li>
                    <a href="#" class="desktop-item">Products</a>
                    <input type="checkbox" id="showMega">
                    <label for="showMega" class="mobile-item">Mega Menu</label>
                    <div class="mega-box">
                        <div class="content">
                            <div class="row">

                            </div>
                            <div class="row">
                                <header>Equipments</header>
                                <ul class="mega-links">
                                    <li><a href="/equipments">Treadmill</a></li>
                                    <li><a href="/equipments">Assault Bike
                                            </a></li>
                                    <li><a href="/equipments">Elliptical Trainers</a></li>
                                    <li><a href="/equipments">Step Machines
                                            </a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header>Apparel</header>
                                <ul class="mega-links">
                                    <li><a href="/sidpro">Track Pants</a></li>
                                    <li><a href="/sidpro">Racks & Cages
                                           </a></li>
                                    <li><a href="/sidpro">T-Shirts
                                         </a></li>
                                    <li><a href="/sidpro">Shoes
                                           </a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <header>Supplements</header>
                                <ul class="mega-links">
                                    <li><a href="/jiapro">Protein powders</a></li>
                                    <li><a href="/jiapro">Protein bars</a></li>
                                    <li><a href="/jiapro">Electrolytes</a></li>
                                    <li><a href="/jiapro">Whey Protein</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
              
                <li><a href="#contacts">Contact Us</li>
                <li><a href="/blogs">Blog</li>
                    <li><a href="/resources"> Resources</li>
                <li><a href="/bmi">BMI </li>
                <!-- <li><a href="/login">Log in</li> -->
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
    </nav>


    <section id="hero">
        <h2 class="animated-text" style="padding: auto; margin-left:40%; font-size: 5.5rem; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><center>Flex Mart</center></h2>
        <div class="content" style="margin-left:23%">
           
            <!-- &nbsp; 
            &nbsp; <h1 class="animated-text" style="color:black;"> &nbsp;for Gym Enthusiasts</h1>
              <h1 class="animated-text" style="color:black;"> One Stop Solution</h1>
              &nbsp;  -->
            <!-- <button class="animated-button" style="float:right;">Shop Now</button> -->
        </div>
    </section>
    
    <section id="middle">
    <!-- <h3> About  Us</h3> -->
        <div id="motto">
            <div class="motto">
                <img src="imgh" alt=""
                height="500" width="400">
            </div>
            <div class="motto">
                <br>
                
                <h3>About Us</h3>
               
                <p >Welcome to Flex Mart! We are your ultimate destination for all things fitness and wellness. Our platform is dedicated to providing you with top-notch fitness equipment, apparel, and accessories, all carefully curated to help you achieve your health and fitness goals.
                    We take pride in offering a diverse selection of products that cater to different fitness routines and preferences. From cardio equipment to strength training gear, yoga essentials to athletic wear, our carefully curated collection ensures that you can find everything you need under one virtual roof.
                    Thank you for choosing Flex Mart as your fitness partner. We're excited to join you on your journey to a healthier, fitter, and more vibrant lifestyle!
                </p>
            </div>
        </div>
    </section>

    <footer>
        <div class="contact" id="contacts">
            <h2>Contact Us</h2>
            <p>Feel free to get in touch with us for any inquiries.</p>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f fa-2x" style="color: #000;"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x" style="color: #000;"></i></a>
            <a href="#"><i class="fas fa-envelope fa-2x" style="color: #000;"></i></a>
        </div>
        <div class="center">
            Copyright &copy; www.flexmart.com. All rights reserved!
        </div>
    </footer>
