<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Resources Page</title>
</head>

<body>
    <style>

.btn-primary {
    background-color: #ff6b6b;
    border-color: #d64545;
    color: white;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-primary:hover {
    
   background-color: #d64545;
}

.btn-primary:active {
   background-color: #ff6b6b;
    border-color: #d64545;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
    </style>
    <div style="padding: 3%;">
        <h1>RESOURCE LIBRARY</h1>
        <hr style="height: 5px;">
        <br>
        <h3>Cardio</h3>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/IvmaekQfKiw?si=OsY2QveNkTZSfkJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">15 Minute Full Body Cardio Workout</h5>
                        <p class="card-text">This is an interval style workout so you can go at whatever pace that helps you get the most out of the 15 minutes.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" >
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/dj03_VDetdw?si=ex9g56A9X_3Kzt5l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Cardio Workout for Beginners</h5>
                        <p class="card-text"> You can perform these 6 amazing exercise movements with a focus on the entire body and get fit and lose excess fat including belly fat.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/tgm_QjUiwlk?si=V8JRct2il1XLeHfx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">30 Minute Body Cardio HIIT Workout </h5>
                        <p class="card-text">This workout will get your heart rate up with a mixture of high intensity strength, cardio, and plyometric movements.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="height: 5px;">
        <br>
        <h3>Strength Training</h3>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/VEHDLpM5w1I?si=d8Ffq4merPeLfDWz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">30-minute Full Body Strength Training</h5>
                        <p class="card-text">This is fun and effective strength training for your entire body! Our training session includes 24 exercises to build full-body functional strength and improve balance.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" >
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/AjAVhtQ2vok?si=hTHQ902Zm5VSxFa3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">30 Minute Dumbbell Strength Workout</h5>
                        <p class="card-text">This workout was designed to help build strength, muscle mass, and endurance over time. All you need is pair /set of dumbbells to go heavier or lighter where you need to.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/PRm-lkibIbM?si=Clx5bsZTEK-XeroL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Strength Training For Older Guys</h5>
                        <p class="card-text">As our bodies age, our joints and metabolism change, which means our strategies for exercising and muscle building over 40 must also change with age.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="height: 5px;">
        <br>
        <h3>Recipies</h3>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/Bnix4LNhke8?si=ztFpNUdR8WZY2xHH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Meal Prep for Work/School for Fitness</h5>
                        <p class="card-text">Weigh out each ingredient and enjoy bros! Hope these help you
What other content would you like to see in coming videos?</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" >
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/JBv0tpdlado?si=CkFG_b6zFbCGQhKv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Easy And Healthy Breakfast Smoothie</h5>
                        <p class="card-text">A smoothie is a beverage made by puréeing ingredients in a blender. A smoothie commonly has a liquid base, such as fruit juice or milk, yogurt.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/1N6hbRbyAeQ?si=ods9I-mUEimO4_Nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Meal Prep Under An Hour</h5>
                        <p class="card-text">Prepare your week or weeks ahead with this easy-to-make sweet and sour chicken. It's easy to make, cheap and tastes delicious.</p>
                        <a href="#" class="btn btn-primary">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>