<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Your Order</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            /* background-image: url("https://img.freepik.com/free-photo/close-up-film-texture-details_23-2149368371.jpg?w=740&t=st=1697566862~exp=1697567462~hmac=ba77acffa167f2927608ff2184a6e600392eb8fd1564ae06601a1d863305a70b"); */
        
      background-image: url("https://img.freepik.com/free-photo/red-light-digital-optical-fiber-lights_23-2148241300.jpg?w=740&t=st=1697569009~exp=1697569609~hmac=f6701d124c03da3fabb619aa547dc982c7732d5630645bda0d3231c7c5f13869");
         /* background-image: url("https://img.freepik.com/free-photo/shopping-cart-red-bags_23-2148288209.jpg?w=740&t=st=1697568769~exp=1697569369~hmac=5ca4a433a83ff1d8f7ddce7528bc20a4de51d6df90eb9e54a679e72c92eb70a7"); */
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

        .container {
            text-align: center;
            background-color:black;
           
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 2rem;
            color: #333;
            color: #f7f7f7;
        }

        p {
            font-size: 1.5rem;
            color: #666;
        }

        .animation {
            width: 150px;
            height: 150px;
            background-image: url('https://i.pinimg.com/originals/ce/4e/74/ce4e7484ae0727138d035eea8155f600.gif');
            background-size: cover;
            animation:2s linear infinite;
            display: flex;
          
           padding: auto;
            margin: auto;
        }

        .dynamic {
            position: relative;
            color: red;
            font-size: 1.5rem;
            animation: typing 2s linear infinite;
            font-family:sans-serif;
            margin-top: 10px;
        }

        @keyframes typing {
            0% {
                left: -100%;
            }
            100% {
                left: 50%;
            }
        }

      
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank You for Your Order!</h1>
        <p>Your order has been successfully placed.</p>
        <p style="color: rgb(255, 0, 0)">You have taken the step towards your fitness journey.</p>
        <div class="animation">
            <div class="dynamic">CONGRATULATIONS</div>
        </div>
    </div>
</body>
</html>


